$operator-color: rgb(100, 146, 199);
@font-face {
  font-family: Calculus;
  src: url(./fonts/CalculusOblique.otf) format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(135deg, #f1f9f5 50%, #c6d8d0 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
%flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(6, 80px);
  grid-template-areas:
    'display display display display'
    'plus minus multiple division'
    'seven eight nine equal'
    'four five six equal'
    'one two three equal'
    'zero deci clear equal';
  padding: 20px;

  background-color: #323a34;
  border-radius: 10px;

  button {
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background-color: #f1f9f7;
    &:hover {
      background-color: #e2f3ef;
    }
  }
}

.display {
  display: inline-grid;
  grid-area: display;
  background-color: #000000;
  border-radius: 10px;
  color: white;
  line-height: 80px;
  font-size: 60px;
  overflow: hidden;
  padding: 6px 13px;
  box-sizing: border-box;
  font-family: Calculus;
  text-align: right;
}
.add {
  grid-area: plus;
  color: $operator-color;
}
.minus {
  grid-area: minus;
  color: $operator-color;
}

.multiple {
  grid-area: multiple;
  color: $operator-color;
}
.division {
  grid-area: division;
  color: $operator-color;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.zero {
  grid-area: zero;
}
.deci {
  grid-area: deci;
}
.clear {
  grid-area: clear;
  background-color: goldenrod;
  @extend %flexcenter;
}
.equal {
  grid-area: equal;
  @extend %flexcenter;

  background-color: rgb(58, 106, 161) !important;
}
.selected-operator {
  background-color: #a9dbcf !important;
}
